:root {
    --color-text-grey-light: #aaaaaa;
    --color-text-grey-dark: #666666;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    
}
main{
    background-image: url("../img/unnamed.jpg");
    
}

/* Header */
.header__container-nav {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #282c31;
    z-index: 3;
}

.header__container-nav--margin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 50px;
}

.header__container-title a {
    color: white;
    text-decoration: none;
}

.header__container-title a:hover {
    color: rgb(180, 180, 180);
}

.header__container-title a h1 {
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}

.header_tabnav a {
    color: white;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.header_tabnav a:hover {
    color: rgb(180, 180, 180);
}

/* Header responsive */
.header_tabnav-responsive {
    display: none;
}

.header_tabnav-responsive i {
    color: white;
    font-size: 24px;
}

.header__links {
    display: none;
    position: absolute;
    padding-top: 10px;
    left: 0;
    width: 100%;
    background-color: #282c31;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header__links a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header_tabnav-responsive:hover .header__links {
    display: block;
}
/* Imagen fondo */

.img-container {
    background: url("../img/imgFondo.webp");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}


/* titulo */

.title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-container h1 {
    margin: 0;
    font-size: 4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.title-container p {
    margin: 0;
    color: var(--color-text-grey-light);

}

/* About me */

.about-me {
    width: 90%;
    margin: 0 auto;
   
}

/* about title */

.about__title-container h2 {
    font-weight: 400;
    text-align: center;
    font-size: 2em;
    color: #eeeeee;
}

/* abuot img */

.about__img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px auto;
    overflow: hidden;
}

.about__img-container img {
    width: 100%;
    object-fit: contain;
}

/* about description */

.about__description-container {
    width: 60%;
    margin: 0 auto;
}

.about__description-container p {
    color:#dddddd;
    text-align: center;
}

/* about abilitys */

.about__abilitys-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 20px 0;
}

.about__abilitys-container--center {
    background-color: #dddddd;
    width: 60%;
    border-radius: 1%;
}

.about__abilitys-container--center h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 1.7em;
    color: var(--color-text-grey-dark);
}

.about__abilitys {
    display: flex;
    justify-content: space-evenly;
}

.about__abilitys article {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.about__abilitys img {
    width: 30%;
}

.about__abilitys p {
    text-align: center;
    font-size: 0.8em;
    color: var(--color-text-grey-dark);
}

/* Skills */

.skills {
    margin: 80px 0;
    background-color: #eeeeee;
}

.skill--center {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.skills__title-container h2 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.skills__skill-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill__container_img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    filter: grayscale(1);
    transition: filter 0.2s ease-in, transform 0.3s ease-in;
}

.skill__container_img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}

.skills__skill-container img {
    width: 100%;
}

/* Projects */

.projects {
    margin-bottom: 100px;
}

.projects>h3 {
    text-align: center;
    font-size: 2em;
    margin: 0 0 20px 0;
    color: #dddddd;
}

.projects__card-containers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

/*  */
.card {
    flex: 1 0 30%;
    border: 1px solid #ccccccff;
    border-radius: 10px;
    overflow: hidden;
    min-width: 300px;
    max-width: 400px;
    margin: 10px 10px;
    transition: all .3s;
    background-color: var(--color-text-grey-light);
}

.card:hover {
    transform: translate(0, -7px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

/*  */
.card__description-container {
    padding: 0 15px;
}

.card__description-container h3 {
    margin: 0;
    padding: 0;
}

.card__description-container p {
    padding: 0;
    margin: 5px 0;
    font-size: 15px;
}

/*  */
.card__tools-container {
    padding: 0 15px;
}

.card__tools-container span {
    background-color: #dddddd;
    padding: 2px 10px;
    border-radius: 10%;
    font-size: 13px;
    color: var(--color-text-grey-dark);
    font-weight: bold;
}

/*  */
.card__views {
    margin: 10px 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.card__views a {
    color: var(--color-text-grey-dark);
    font-size: 14px;
}

/* Contacts */

.contacts {
    background-color: #eeeeee;
}

.contacts>h3 {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
}

.contacts__container {
    display: flex;
}

/*  */
.contacts__img-container {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__img-container img {
    width: 70%;
}

/*  */
.contacts__form-container {
    flex: 0 0 40%;
}

.contacts__form-container form {
    width: 80%;
    margin: 30px auto;
}

.contacts__form-container label {
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c31;
    padding: 40px 0;
    color: white;
}

.footer__networking {
    margin-bottom: 10px;
}

.footer__networking ul {
    padding: 0;
    margin: 0;
}

.footer__networking ul li {
    padding: 0;
    display: inline-block;
    margin: 0 10px;
}

.footer__networking a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    outline: 0;
    border-radius: 3px;
    text-decoration: none;
    transition: all .3s;
}

.footer__networking .fa {
    color: white;
}

.linkedin:hover {
    background-color: blue;
    transform: scale(1.1, 1.1);
}

.github:hover {
    background-color: black;
    transform: scale(1.1, 1.1);
}

.instagram:hover {
    background-color: fuchsia;
    transform: scale(1.1, 1.1);
}

.footer__button-up {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer__button-up img {
    height: 50px;
    width: 70px;
}

.footer__button-up span {
    font-size: 14px;
    opacity: 0;
    transition: all .5s;
}

.footer__button-up:hover span {
    opacity: 1;
}

@media (max-width: 750px) {
    .header_tabnav {
        display: none;
    }

    .header_tabnav-responsive {
        display: block;
    }
}
@media (max-width: 576px) {
    .about__abilitys {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    

}